In [38]:
import pandas as pd

In [39]:
df = pd.read_excel('saldo_pessoal_n.xlsx')

In [40]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,UO,DESCRICAO_UO,VALOR_DOTACAO_INICIAL,VALOR_ATUALIZADO,VALOR_EMPENHADO,previsão 4 quadrimestre 2024,total 2024,saldo
1,NaN,11006,GABINETE CIVIL,17568076,17568076,14221393.28,6204477.075908,20425870.355908,-2857794.355908
2,NaN,11008,CONTROLADORIA GERAL DO ESTADO,3547386,3547386,2258167.9,1197061.185824,3455229.085824,92156.914176
3,NaN,11009,PROCURADORIA GERAL DO ESTADO,60899473,60899473,45065037.36,22930738.08049,67995775.44049,-7096302.44049
4,NaN,11013,GABINETE DO VICE-GOVERNADOR,1923628,1913628,1708194.99,1044303.05133,2752498.04133,-838870.04133

In [41]:
# dropar primeira cioluna
df.drop('Unnamed: 0', axis=1, inplace=True)

In [42]:

df.columns = df.iloc[0]

In [43]:
df.head()

,UO,DESCRICAO_UO,VALOR_DOTACAO_INICIAL,VALOR_ATUALIZADO,VALOR_EMPENHADO,previsão 4 quadrimestre 2024,total 2024,saldo
0,UO,DESCRICAO_UO,VALOR_DOTACAO_INICIAL,VALOR_ATUALIZADO,VALOR_EMPENHADO,previsão 4 quadrimestre 2024,total 2024,saldo
1,11006,GABINETE CIVIL,17568076,17568076,14221393.28,6204477.075908,20425870.355908,-2857794.355908
2,11008,CONTROLADORIA GERAL DO ESTADO,3547386,3547386,2258167.9,1197061.185824,3455229.085824,92156.914176
3,11009,PROCURADORIA GERAL DO ESTADO,60899473,60899473,45065037.36,22930738.08049,67995775.44049,-7096302.44049
4,11013,GABINETE DO VICE-GOVERNADOR,1923628,1913628,1708194.99,1044303.05133,2752498.04133,-838870.04133

In [44]:
df.tail()

,UO,DESCRICAO_UO,VALOR_DOTACAO_INICIAL,VALOR_ATUALIZADO,VALOR_EMPENHADO,previsão 4 quadrimestre 2024,total 2024,saldo
61,41516,BANCO DO ESTADO DE ALAGOAS EM LIQUIDAÇÃO\t,50000,50000,50000,25000,50000,0
62,91997,ENCARGOS GERAIS DO ESTADO - RECURSOS SOB SUPER...,255466792,255466792,94193879.15,64004001.453558,158197880.603558,97268911.396442
63,Total geral,NaN,7190088439.44,7243216793.17,5071932037.82,2668601519.68081,7740508557.50081,-497291764.330811
64,NaN,NaN,NaN,NaN,838795602.99,419397801.495,1258168404.485,NaN
65,NaN,NaN,NaN,NaN,4230860682.25,2248065841.89581,6478926524.14581,NaN

In [45]:
# Dropar ultimas 3 linhas
df.drop(df.tail(3).index, inplace=True)

In [46]:
df.head()

,UO,DESCRICAO_UO,VALOR_DOTACAO_INICIAL,VALOR_ATUALIZADO,VALOR_EMPENHADO,previsão 4 quadrimestre 2024,total 2024,saldo
0,UO,DESCRICAO_UO,VALOR_DOTACAO_INICIAL,VALOR_ATUALIZADO,VALOR_EMPENHADO,previsão 4 quadrimestre 2024,total 2024,saldo
1,11006,GABINETE CIVIL,17568076,17568076,14221393.28,6204477.075908,20425870.355908,-2857794.355908
2,11008,CONTROLADORIA GERAL DO ESTADO,3547386,3547386,2258167.9,1197061.185824,3455229.085824,92156.914176
3,11009,PROCURADORIA GERAL DO ESTADO,60899473,60899473,45065037.36,22930738.08049,67995775.44049,-7096302.44049
4,11013,GABINETE DO VICE-GOVERNADOR,1923628,1913628,1708194.99,1044303.05133,2752498.04133,-838870.04133

In [47]:
df.tail()

,UO,DESCRICAO_UO,VALOR_DOTACAO_INICIAL,VALOR_ATUALIZADO,VALOR_EMPENHADO,previsão 4 quadrimestre 2024,total 2024,saldo
58,36021,"SECRETARIA DE ESTADO DO ESPORTE, LAZER E JUVEN...",2795473,2795473,1740385.49,952080.070857,2692465.560857,103007.439143
59,37001,SECRETARIA DE ESTADO DE GOVERNO,24315888,22437050,16088153.55,8044076.775,24132230.325,-1695180.325
60,38001,SECRETARIA DE ESTADO DA PRIMEIRA INFANCIA,0,1878838,1575810.53,787905.265,2363715.795,-484877.795
61,41516,BANCO DO ESTADO DE ALAGOAS EM LIQUIDAÇÃO\t,50000,50000,50000,25000,50000,0
62,91997,ENCARGOS GERAIS DO ESTADO - RECURSOS SOB SUPER...,255466792,255466792,94193879.15,64004001.453558,158197880.603558,97268911.396442

In [48]:
# rename columns 
df.rename(columns={'previsão 4 quadrimestre 2024': 'PREVISAO'}, inplace=True)
df.rename(columns={'total 2024': 'TOTAL'}, inplace=True)
df.rename(columns={'saldo': 'SALDO'}, inplace=True)

In [49]:
df.head()

,UO,DESCRICAO_UO,VALOR_DOTACAO_INICIAL,VALOR_ATUALIZADO,VALOR_EMPENHADO,PREVISAO,TOTAL,SALDO
0,UO,DESCRICAO_UO,VALOR_DOTACAO_INICIAL,VALOR_ATUALIZADO,VALOR_EMPENHADO,previsão 4 quadrimestre 2024,total 2024,saldo
1,11006,GABINETE CIVIL,17568076,17568076,14221393.28,6204477.075908,20425870.355908,-2857794.355908
2,11008,CONTROLADORIA GERAL DO ESTADO,3547386,3547386,2258167.9,1197061.185824,3455229.085824,92156.914176
3,11009,PROCURADORIA GERAL DO ESTADO,60899473,60899473,45065037.36,22930738.08049,67995775.44049,-7096302.44049
4,11013,GABINETE DO VICE-GOVERNADOR,1923628,1913628,1708194.99,1044303.05133,2752498.04133,-838870.04133

In [50]:
# dropar linha 0
df.drop(df.head(1).index, inplace=True)

In [51]:
df.head()

,UO,DESCRICAO_UO,VALOR_DOTACAO_INICIAL,VALOR_ATUALIZADO,VALOR_EMPENHADO,PREVISAO,TOTAL,SALDO
1,11006,GABINETE CIVIL,17568076,17568076,14221393.28,6204477.075908,20425870.355908,-2857794.355908
2,11008,CONTROLADORIA GERAL DO ESTADO,3547386,3547386,2258167.9,1197061.185824,3455229.085824,92156.914176
3,11009,PROCURADORIA GERAL DO ESTADO,60899473,60899473,45065037.36,22930738.08049,67995775.44049,-7096302.44049
4,11013,GABINETE DO VICE-GOVERNADOR,1923628,1913628,1708194.99,1044303.05133,2752498.04133,-838870.04133
5,11015,SECRETARIA DE ESTADO DE GOVERNANÇA CORPORATIVA,1878838,1878838,1152910.72,576455.36,1729366.08,149471.92

In [52]:
df.to_csv('data/SALDO_PESSOAL.csv', index=False)